
<div class="container">
<h3>All users</h3>
<table>
  <thead>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>password_digest</th>
  </thead>
  <% @users.each do |user| %>
  <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password_digest %></td>
        <form method="post" action="delUser">
        <td><input type="submit" value="delete"></td>
          <input type="hidden" name="id" value="<%= user.id %>">
          <input type="hidden" name="_method" value="delete">
        </form>
      </tr>
  </tbody>
  <% end %>
</table>
</div>

<div class="container">
    <h3>All kanjis</h3>
    <div class="row">
      <% @kanjis.first(50).each do |kanji| %>
        <div class="column">
            <span><%= kanji.kanji%></span>
        </div>
      <% end %>
    </div>
</div>

<div class="container">
    <h3>All readings</h3>
    <table>
      <tr>
        <th>id</th>
        <th>kanji_id</th>
        <th>reading</th>
      </tr>
      <% @readings.first(5).each do |reading| %>
      <tr>
        <td><%= reading.id %></td>
        <td><%= reading.kanji_id %></td>
        <td><%= reading.reading %></td>
      </tr>
      <% end %>
      <% @readings.last(5).each do |reading| %>
      <tr>
        <td><%= reading.id %></td>
        <td><%= reading.kanji_id %></td>
        <td><%= reading.reading %></td>
      </tr>
      <% end %>
    </table>
</div>

<div class="container">
<h3>Recent creations</h3>
<table>
  <tr>
    <th>id</th>
    <th>user_id</th>
    <th>kanji_id</th>
  </tr>
  <% @creations.last(10).each do |creation| %>
  <tr>
    <td><%= creation.id %></td>
    <td><%= creation.user_id %></td>
    <td><%= creation.kanji_id%></td>
  </tr>
  <% end %>
</table>
</div>
