
<div class="container">
    <h3>Recent Answers</h3>
    <table>
        <tr>
            <th>id</th>
            <th>creation_id</th>
            <th>correct</th>
        </tr>
        <% Answer.all.last(8).reverse.each do |answer| %>
            <tr>
                <td><%= answer.id %></td>
                <td><%= answer.creation_id %></td>
                <td><%= answer.correct %></td>
            </tr>
        <% end %>
    </table>
</div>

<div class="container">
<h3>All users</h3>
<table>
  <thead>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>message</th>
    <th>password_digest</th>
  </thead>
  <% User.all.each do |user| %>
  <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.message %></td>
        <td><%= user.password_digest %></td>
        <form method="post" action="delUser">
        <td><input type="submit" value="delete"></td>
          <input type="hidden" name="id" value="<%= user.id %>">
          <input type="hidden" name="_method" value="delete">
        </form>
      </tr>
  </tbody>
  <% end %>
</table>
</div>

<div class="container">
    <h3>Kanjis</h3>
    <table>
        <tr>
            <th>id</th>
            <th>kanji</th>
        </tr>
        <% (Kanji.all.first(4) + Kanji.all.last(4)).each do |kanji| %>
            <tr>
                <td><%= kanji.id %></td>
                <td><%= kanji.kanji %></td>
            </tr>
        <% end %>
    </table>
</div>

<div class="container">
    <h3>Readings</h3>
    <table>
      <tr>
        <th>id</th>
        <th>kanji_id</th>
        <th>reading</th>
      </tr>
      <% (Reading.all.first(4) + Reading.all.last(4)).each do |reading| %>
      <tr>
        <td><%= reading.id %></td>
        <td><%= reading.kanji_id %></td>
        <td><%= reading.reading %></td>
      </tr>
      <% end %>
    </table>
</div>

<div class="container">
<h3>Recent creations</h3>
<table>
  <tr>
    <th>id</th>
    <th>user_id</th>
    <th>kanji_id</th>
  </tr>
  <% Creation.all.last(8).reverse.each do |creation| %>
  <tr>
    <td><%= creation.id %></td>
    <td><%= creation.user_id %></td>
    <td><%= creation.kanji_id%></td>
  </tr>
  <% end %>
</table>
</div>
