<%# ランダムにクイズの種類を決める %>
<% isTest = locals[:isTest] %>
<% nQuiz = 10 %>
<% kanjis = isTest ? current_user.kanjis : Kanji.all %>
<% if rand(2) == 1 %>
<%     theme, choices, answer_place, creation = kanji_quiz(kanjis) %>
<%     quiz_msg = "「#{theme}」は, なんと読む?" %>
<% else %>
    <%     theme, choices, answer_place, creation = reading_quiz(kanjis) %>
<%     quiz_msg = "「#{theme}」は, どんな漢字か?" %>
<% end %>

<div id="quiz" >
    <h2><%= isTest ? "問題 " + locals[:n].to_s + '/' + nQuiz.to_s : "例題" %></h2>
    <h3><%= quiz_msg %></h3>
    <div id="choices" ></div>
    <button id="nextButton" class="button outline-button" style="display: none" >次の問題</button>
    <dl id="msg" ></dl>

    <% #回答をコントローラーへ送信し, ページをリロードする%>
    <script>
    var creation_id = '<%= creation ? creation.id : '' %>' // String
    var isTest = <%= isTest.to_s %> // Boolean
    var currentN = <%= locals[:n].to_i %> // Int
    var nQuiz = <%= nQuiz %>
    var answer = '<%= choices[answer_place] %>' // String

    function form(event) {
         // ボタンを押せなくする
         var choices = document.getElementById('choices');
         Array.from(choices.children).forEach((button) => button.disabled = 'true')
        // ボタンにアイコンを表示する
         for (let n=0; n<4; n++) {
             var icon = document.getElementById('icon' + n);
             icon.style.display = 'unset';
         }
         // テストなら正解率を表示する
         if (isTest) {
             var pushedButton = event.currentTarget
             var url = '/user/record'
             var data = { creation_id: creation_id, ox: pushedButton.value }
             $.post(url, data).done((json) => {
                 for (let key in json) {
                     $('#msg').append($('<li>', {text: key + ' = ' + parseInt(100 * parseFloat(json[key])) + '%'}));
                 }
             });
         }
         if (isTest && currentN >= nQuiz) {
             $('#nextButton').replaceWith($('<a>', {
                 id: 'enqButton',
                 class: $('#nextButton').attr('class'),
                 href: '/user/enquete'
             }))
             $('#enqButton').text('おしまい(アンケートへ)')
         } else {
            // 次の問題をロードするボタンを表示する
            $('#nextButton').click(() => {
                var data = {n: currentN + 1, isTest: isTest}
                $.get('/quiz', data).done((newQuiz) => $('#quiz').replaceWith(newQuiz));
            })
         }
         $('#nextButton').css('display', 'unset')
    };
    </script>
    <% # 選択肢を作って表示する %>
    <script>
     var answer_place = <%= answer_place %>; // Integer
     var stringChoices = <%= choices %>; // Array<String>
     var choices = document.getElementById('choices');
     for (var n=0; n<4; n++) {
         var button = document.createElement('button');
         button.className = 'button';
         button.value = n == answer_place ? 1 : 0; // 正答かどうか
         button.onclick = form;
         var text = document.createElement('span');
         text.innerText = stringChoices[n];
         var icon = document.createElement('i');
         icon.id = 'icon' + n;
         icon.className = n == answer_place ? 'fas fa-check' : 'fas fa-times';
         icon.style.display = 'none';
         button.appendChild(icon);
         button.appendChild(text);
         choices.appendChild(button);
         if (n == 1) { // 1段下げて表示
             choices.appendChild(document.createElement('br'));
         }
     }
    </script>
</div>

