<div class="container">
    <h2>問題</h2>
    <% quiz_reading, final_kanjis, answer_kanji_place = reading_quiz%>
    <p>「<%= quiz_reading.reading %>」は,どの漢字か?</p>
    <a class="button"><%= final_kanjis[0] %></a>
    <a class="button"><%= final_kanjis[1] %></a>
    <a class="button"><%= final_kanjis[2] %></a>
    <a class="button"><%= final_kanjis[3] %></a>
</div>
