<div class="container">
    <h2>問題</h2>
    <% quiz_kanji, final_readings,answer_place = kanji_quiz %>
    <p>「<%= quiz_kanji.kanji %>」は,なんと読む?</p>
    <a class="button"><%= final_readings[0].reading %></a>
    <a class="button"><%= final_readings[1].reading %></a>
    <a class="button"><%= final_readings[2].reading %></a>
    <a class="button"><%= final_readings[3].reading %></a>
</div>
